body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

button,
select {
  background: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-right {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  width: auto;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 4px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  z-index: 10;
}
